<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Seja Bem Vindo!</h1>
  <p class="col-md-8 fs-4">Este quiz contem 9 questões que ajudaram a definir seu perfil</p>
  <h4>Rules:</h4>
  <ol>
    <li>Alguma</li>
    <li>Coisa</li>
    <li>Aqui</li>
  </ol>
  <h1 style="font-family: cursive;text-align:center">Vamos lá</h1>
  <div class = "name col-md-4 my-3">
    <label for="">Qual seu nome:</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Começar</button>
</div>
